<%- include('header') %> <%- include('navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="display-1 text-center">Agenda</h1>
      <p class="text-center lead mt-2">
        Bem-vindo à sua agenda de contatos! Aqui você pode organizar e gerenciar
        seus contatos de forma fácil e eficiente. Adicione, edite e exclua
        contatos para manter sua lista sempre atualizada. Aproveite a
        praticidade de ter todas as suas informações de contato em um só lugar!
      </p>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Davi</td>
            <td>Pedrosa</td>
            <td>(31)97543-2109</td>
            <td>davip@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('footer') %>
