<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Agenda</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if (user) { %>  <!-- Verifica se a variável user existe, ou seja, se o usuário está autenticado, e exibe os links do My Agenda e logout apenas para usuários autenticados -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
          </li>
        <% } else { %>  <!-- Se o usuário não estiver autenticado, exibe os links de login e registro -->
          <li class="nav-item">
            <a class="nav-link" href="/login">Entrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Cadastrar</a>
          </li>
        <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
